<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <title>Zodiac Sign - Determinate your zodiac sign by date</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>

    <!-- Theme CSS -->
    <link href="css/zodiacapp.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-play-circle"></i> <span class="light">Zodiac</span> Sign
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#aquarius">Aquarius</a>
                </li>
                <li>
                    <a class="page-scroll" href="#pisces">Pisces</a>
                </li>
                <li>
                    <a class="page-scroll" href="#aries">Aries</a>
                </li>
                <li>
                    <a class="page-scroll" href="#taurus">Taurus</a>
                </li>
                <li>
                    <a class="page-scroll" href="#gemini">Gemini</a>
                </li>
                <li>
                    <a class="page-scroll" href="#cancer">Cancer</a>
                </li>
                <li>
                    <a class="page-scroll" href="#leo">Leo</a>
                </li>
                <li>
                    <a class="page-scroll" href="#virgo">Virgo</a>
                </li>
                <li>
                    <a class="page-scroll" href="#libra">Libra</a>
                </li>

                <li>
                    <a class="page-scroll" href="#scorpio">Scorpio</a>
                </li>

                <li>
                    <a class="page-scroll" href="#sagittarius">Sagittarius</a>
                </li>
                <li>
                    <a class="page-scroll" href="#capricorn">Capricorn</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Zodiac sign</h1>
                    <p class="intro-text">To know your zodiac sign</p>
                    <form id="dateForm">
                        <div class="form-group date-picker">
                            <label for="date" class="date-picker-label">Date of Birth :</label>
                            <input id="date" type="text" maxlength="5" class="date-field" placeholder="DD/MM"/>
                            <button type="submit" id="postDateBtn" class="btn btn-default date-picker-btn">Check</button>
                        </div>
                    </form>
                    <a href="#aquarius" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Aquarius Section -->
<section id="aquarius" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Aquarius</h2>
            <img src="img/aquarius.png" class="img-rounded" alt="Aquarius" width="250" height="250"/>
            <p><strong>Date range: </strong>January 20 - February 18.</p>
            <p><strong>Strengths: </strong>Progressive, original, independent, humanitarian.<br/>
                <strong>Weaknesses: </strong>Runs from emotional expression, temperamental, uncompromising, aloof.
            </p>
            <p>Aquarius-born are shy and quiet , but on the other hand they can be eccentric and energetic. However, in
                both cases, they are deep thinkers and highly intellectual people who love helping others. They are able
                to see without prejudice, on both sides, which makes them people who can easily solve problems.
            </p>
            <p>The ruling planet of Aquarius, Uranus has a timid, abrupt and sometimes aggressive nature, but it also
                gives Aquarius visionary quality. They are capable of perceiving the future and they know exactly what
                they want to be doing five or ten years from now.
                Uranus also gave them the power of quick and easy transformation, so they are known as thinkers,
                progressives and humanists. They feel good in a group or a community, so they constantly strive to be
                surrounded by other people.
            </p>
        </div>
    </div>
</section>

<!-- Pisces Section -->
<section id="pisces" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Pisces</h2>
            <img src="img/pisces.png" class="img-rounded" alt="Pisces" width="250" height="250"/>
            <p><strong>Date range: </strong>February 19 - March 20.</p>
            <p><strong>Strengths: </strong>Compassionate, artistic, intuitive, gentle, wise, musical.<br/>
                <strong>Weaknesses: </strong>Fearful, overly trusting, sad, desire to escape reality, can be a victim or
                a martyr.
            </p>
            <p>Pisces are very friendly, so they often find themselves in a company of very different people. Pisces are
                selfless, they are always willing to help others, without hoping to get anything back.
                Pisces is a Water sign and as such this zodiac sign is characterized by empathy and expressed emotional
                capacity.</p>
            <p>Their ruling planet is Neptune, so Pisces are more intuitive than others and have an artistic talent.
                Neptune is connected to music, so Pisces reveal music preferences in the earliest stages of life. They
                are generous, compassionate and extremely faithful and caring.
                People born under the Pisces sign have an intuitive understanding of the life cycle and thus achieve the
                best emotional relationship with other beings.</p>
        </div>
    </div>
</section>

<!-- Aries Section -->
<section id="aries" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Aries</h2>
            <img src="img/aries.png" class="img-rounded" alt="Aries" width="250" height="250"/>
            <p><strong>Date range: </strong>March 21 - April 19.</p>
            <p><strong>Strengths: </strong>Courageous, determined, confident, enthusiastic, optimistic, honest,
                passionate.<br/>
                <strong>Weaknesses: </strong>Impatient, moody, short-tempered, impulsive, aggressive.
            </p>
            <p>As the first sign in the zodiac, the presence of Aries always marks the beginning of something energetic
                and turbulent. They are continuously looking for dynamic, speed and competition, always being the first
                in everything - from work to social gatherings. Thanks to its ruling planet Mars and the fact it belongs
                to the element of Fire (just like Leo and Sagittarius), Aries is one of the most active zodiac signs. It
                is in their nature to take action, sometimes before they think about it well.</p>
            <p>The Sun in such high dignity gives them excellent organizational skills, so you'll rarely meet an Aries
                who isn't capable of finishing several things at once, often before lunch break! Their challenges show
                when they get impatient, aggressive and vent anger pointing it to other people. Strong personalities
                born under this sign have a task to fight for their goals, embracing togetherness and teamwork through
                this incarnation.</p>
        </div>
    </div>
</section>

<!-- taurus Section -->
<section id="taurus" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>taurus</h2>
            <img src="img/taurus.png" class="img-rounded" alt="taurus" width="250" height="250"/>
            <p><strong>Date range: </strong>April 20 - May 20</p>
            <p><strong>Strengths: </strong>Reliable, patient, practical, devoted, responsible, stable.<br/>
                <strong>Weaknesses: </strong>Stubborn, possessive, uncompromising.
            </p>
            <p>Practical and well-grounded, Taurus is the sign that harvests the fruits of labor. They feel the need to
                always be surrounded by love and beauty, turned to the material world, hedonism, and physical pleasures.
                People born with their Sun in Taurus are sensual and tactile, considering touch and taste the most
                important of all senses. Stable and conservative, this is one of the most reliable signs of the zodiac,
                ready to endure and stick to their choices until they reach the point of personal satisfaction.</p>
            <p>Taurus is an Earth sign, just like Virgo and Capricorn, and has the ability to see things from a
                grounded, practical and realistic perspective. They find it easy to make money and stay on same projects
                for years, or until they are completed. What we often see as stubbornness can be interpreted as
                commitment, and their ability to complete tasks whatever it takes is uncanny. This makes them excellent
                employees, great long-term friends and partners, always being there for people they love. Earthly note
                makes them overprotective, conservative, or materialistic at times, with views of the world founded on
                their love of money and wealth.</p>
        </div>
    </div>
</section>

<!-- gemini Section -->
<section id="gemini" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>gemini</h2>
            <img src="img/gemini.png" class="img-rounded" alt="gemini" width="250" height="250"/>
            <p><strong>Date range: </strong>May 21 - June 20</p>
            <p><strong>Strengths: </strong>Gentle, affectionate, curious, adaptable, ability to learn quickly and
                exchange ideas.<br/>
                <strong>Weaknesses: </strong>Nervous, inconsistent, indecisive.
            </p>
            <p>Expressive and quick-witted, Gemini represents two different personalities in one and you will never be
                sure which one you will face. They are sociable, communicative and ready for fun, with a tendency to
                suddenly get serious, thoughtful and restless. They are fascinated with the world itself, extremely
                curious, with a constant feeling that there is not enough time to experience everything they want to
                see.</p>
            <p>The sign of Gemini belongs to the element of Air, accompanying Libra and Aquarius, and this connects it
                to all aspects of the mind. It is ruled by Mercury, the planet that represents communication, writing,
                and movement. People born under this Sun sign often have a feeling that their other half is missing, so
                they are forever seeking new friends, mentors, colleagues and people to talk to.</p>
        </div>
    </div>
</section>

<!-- cancer Section -->
<section id="cancer" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>cancer</h2>
            <img src="img/cancer.png" class="img-rounded" alt="cancer" width="250" height="250"/>
            <p><strong>Date range: </strong>June 21 - July 22</p>
            <p><strong>Strengths: </strong>Tenacious, highly imaginative, loyal, emotional, sympathetic,
                persuasive.<br/>
                <strong>Weaknesses: </strong>Moody, pessimistic, suspicious, manipulative, insecure.
            </p>
            <p>Deeply intuitive and sentimental, Cancer can be one of the most challenging zodiac signs to get to know.
                They are very emotional and sensitive, and care deeply about matters of the family and their home.
                Cancer is sympathetic and attached to people they keep close. Those born with their Sun in Cancer are
                very loyal and able to empathize with other people's pain and suffering.</p>
            <p>
                The sign of Cancer belongs to the element of Water, just like Scorpio and Pisces. Guided by emotion and
                their heart, they could have a hard time blending into the world around them. Being ruled by the Moon,
                phases of the lunar cycle deepen their internal mysteries and create fleeting emotional patterns that
                are beyond their control. As children, they don't have enough coping and defensive mechanisms for the
                outer world, and have to be approached with care and understanding, for that is what they give in
                return.</p>
        </div>
    </div>
</section>

<!-- leo Section -->
<section id="leo" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>leo</h2>
            <img src="img/leo.png" class="img-rounded" alt="leo" width="250" height="250"/>
            <p><strong>Date range: </strong>July 23 - August 22</p>
            <p><strong>Strengths: </strong>Creative, passionate, generous, warm-hearted, cheerful, humorous.<br/>
                <strong>Weaknesses: </strong>Arrogant, stubborn, self-centered, lazy, inflexible.
            </p>
            <p>People born under the sign of Leo are natural born leaders. They are dramatic, creative, self-confident,
                dominant and extremely difficult to resist, able to achieve anything they want to in any area of life
                they commit to. There is a specific strength to a Leo and their "king of the jungle" status. Leo often
                has many friends for they are generous and loyal. Self-confident and attractive, this is a Sun sign
                capable of uniting different groups of people and leading them as one towards a shared cause, and their
                healthy sense of humor makes collaboration with other people even easier.</p>
            <p>
                Leo belongs to the element of Fire, just like Aries and Sagittarius. This makes them warmhearted, in
                love with life, trying to laugh and have a good time. Able to use their mind to solve even the most
                difficult problems, they will easily take initiative in resolving various complicated situations. Ruled
                by the Sun, Leo worships this fiery entity in the sky, quite literally as well as metaphorically. They
                are in search for self-awareness and in constant growth of ego. Aware of their desires and personality,
                they can easily ask for everything they need, but could just as easily unconsciously neglect the needs
                of other people in their chase for personal gain or status.</p>
        </div>
    </div>
</section>

<!-- virgo Section -->
<section id="virgo" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>virgo</h2>
            <img src="img/virgo.png" class="img-rounded" alt="virgo" width="250" height="250"/>
            <p><strong>Date range: </strong>August 23 – September 22</p>
            <p><strong>Strengths: </strong> Loyal, analytical, kind, hardworking, practical.<br/>
                <strong>Weaknesses: </strong>Shyness, worry, overly critical of self and others, all work and no play.
            </p>
            <p>Virgos are always paying attention to the smallest details and their deep sense of humanity makes them
                one of the most careful signs of the zodiac. Their methodical approach to life ensures that nothing is
                left to chance, and although they are often tender, their heart might be closed for the outer world.
                This is a sign often misunderstood, not because they lack the ability to express, but because they won’t
                accept their feelings as valid, true, or even relevant when opposed to reason. The symbolism behind the
                name speaks well of their nature, born with a feeling they are experiencing everything for the first
                time.</p>
            <p>
                Virgo is an Earth sign, fitting perfectly between Taurus and Capricorn. This will lead to a strong
                character, but one that prefers conservative, well-organized things and a lot of practicality in their
                everyday life. These individuals have an organized life, and even when they let go to chaos, their goals
                and dreams still have strictly defined borders in their mind. Constantly worried that they missed a
                detail that will be impossible to fix, they can get stuck in details, becoming overly critical and
                concerned about matters that nobody else seems to care much about.</p>
        </div>
    </div>
</section>

<!-- libra Section -->
<section id="libra" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>libra</h2>
            <img src="img/libra.png" class="img-rounded" alt="virgo" width="250" height="250"/>
            <p><strong>Date range: </strong> September 23 - October 22</p>
            <p><strong>Strengths: </strong> Cooperative,diplomatic, gracious, fair-minded, social.<br/>
                <strong>Weaknesses: </strong>Indecisive, avoids confrontations, will carry a grudge, self-pity.
            </p>
            <p>People born under the sign of Libra are peaceful and fair, and they hate being alone. Partnership is very
                important for Libra -born, and with their victorious mentality and cooperation, they cannot stand to be
                alone. The Libra is an Air sign, with expressed intellect and a keen mind. They can be inspired by good
                books, insurmountable discussions and interesting people.</p>
            <p>
                The ruling planet of Libra is Venus, who is a lover of beautiful things, so the quality is always more
                important than the quantity for people born under the Libra sign. They are often surrounded by art,
                music and beautiful places. They are cooperative by nature, so they often work in teams.</p>
        </div>
    </div>
</section>

<!-- scorpio Section -->
<section id="scorpio" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>scorpio</h2>
            <img src="img/scorpio.png" class="img-rounded" alt="scorpio" width="250" height="250"/>
            <p><strong>Date range: </strong> October 23 - November 21</p>
            <p><strong>Strengths: </strong> Resourceful, brave, passionate, stubborn, a true friend.<br/>
                <strong>Weaknesses: </strong>Distrusting, jealous, secretive, violent.
            </p>
            <p>Scorpio-born are passionate and assertive people. They are determined and decisive, and will research
                until they find out the truth. Scorpio is a great leader, always aware of the situation and also
                features prominently in resourcefulness.</p>
            <p>
                Scorpio is a Water sign and lives to experience and express emotions. Although emotions are very
                important for Scorpio, they manifest them differently than other water signs. In any case, you can be
                sure that the Scorpio will keep your secrets, whatever they may be.</p>
        </div>
    </div>
</section>

<!-- sagittarius Section -->
<section id="sagittarius" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>sagittarius</h2>
            <img src="img/sagittarius.png" class="img-rounded" alt="sagittarius" width="250" height="250"/>
            <p><strong>Date range: </strong> November 22 - December 21</p>
            <p><strong>Strengths: </strong> Generous, idealistic, great sense of humor.<br/>
                <strong>Weaknesses: </strong>Promises more than can deliver, very impatient, will say anything no matter
                how undiplomatic.
            </p>
            <p>Curious and energetic, Sagittarius is one of the biggest travelers among all zodiac signs. Their open
                mind and philosophical view motivates them to wander around the world in search of the meaning of
                life.</p>
            <p>
                Like the other fire signs, Sagittarius needs to be constantly in touch with the world to experience as
                much as possible. The ruling planet of Sagittarius is Jupiter, the largest planet of the zodiac. Their
                enthusiasm has no bounds, and therefore people born under the Sagittarius sign possess a great sense of
                humor and an intense curiosity.</p>
        </div>
    </div>
</section>

<!-- capricorn Section -->
<section id="capricorn" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>capricorn</h2>
            <img src="img/capricorn.png" class="img-rounded" alt="capricorn" width="250" height="250"/>
            <p><strong>Date range: </strong> December 22 - January 19</p>
            <p><strong>Strengths: </strong> Responsible, disciplined, self-control, good managers.<br/>
                <strong>Weaknesses: </strong>Know-it-all, unforgiving, condescending, expecting the worst.
            </p>
            <p>Capricorn is a sign that represents time and responsibility, and its representatives are traditional and
                often very serious by nature. These individuals possess an inner state of independence that enables
                significant progress both in their personal and professional lives. They are masters of self-control and
                have the ability to lead the way, make solid and realistic plans, and manage many people who work for
                them at any time.</p>
            <p>
                Belonging to the element of Earth , like Taurus and Virgo, this is the last sign in the trio of
                practicality and grounding. Not only do they focus on the material world, but they have the ability to
                use the most out of it. Unfortunately, this element also makes them stiff and sometimes too stubborn to
                move from one perspective or point in a relationship. They have a hard time accepting differences of
                other people that are too far from their character, and out of fear might try to impose their
                traditional values aggressively.</p>
        </div>
    </div>
</section>


<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Ashikhmin Nikita, 2017</p>
    </div>
</footer>

<!-- jQuery -->
<script src="vendor/jquery/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Theme JavaScript -->
<script src="js/zodiacapp.js"></script>

</body>

</html>
